* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    color: #3c3f3c;
    font-weight: 300;
    font-size: 1em;
    background: linear-gradient(to right, #2a74ec, #3577e2);
}

/*               Global Classes            */

li {
    text-decoration: none;
}

.container {
    margin: 2% 4%;
    background: #f6ffff;
    border-radius: 20px;
}

.flex-container {
    display: flex;
}

/*             Left Container            */

.small-flex-container {
    flex-direction: column;
    flex: 1;
    background: #0f59d2;
    color: #f6ffff;
    border-radius: 20px;
}

.logo-container {
    margin: -60px 0 -40px 0;
}

.logo-container .logo {
    height: 200px;
    width: auto;
    justify-content: flex-start;
    align-items: flex-start;
}

.small-flex-container li {
    list-style: none;
    margin: 40px 0 50px 30px;
}

.small-flex-container a {
    color: #f6ffff;
    font-size: 120%;
    text-decoration: none;
}

/*           Right Container             */

.big-flex-container {
    flex: 4;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 30px;
}

.top h2 {
    font-size: 160%;
    letter-spacing: 1px;
    margin-left: 30px;
}

.top input {
    margin-right: 30px;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #3c3f3c;
    color: #3c3f3c;
    outline: none;
}