@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
}
body{
    box-sizing: inherit;
    background: #fff;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

  
.main{
    margin: 5rem auto;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    border-radius: 2rem 0;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
#name{
    padding: 1rem 7rem 1rem 3rem;
    margin: .1rem 0;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 18px;
}
#email{
    padding: 1rem 7rem 1rem 3rem;
    margin: .1rem 0;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 18px;
}
#password{
    padding: 1rem 7rem 1rem 3rem;
    margin: .1rem 0;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 18px;
}
.btn{
    padding: .8rem;
    margin: 1rem 0;
    border-radius: 5px;
    width: 10rem;
    color:#fff;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid #0F59D2;
    background:#0F59D2;
}
.fa-user-o{
    position: relative;
    top:3rem;
    left:.5rem;

}
.fa-envelope-o{
    position: relative;
    top:3rem;
    left:.5rem; 
}
.fa-key{
    position: relative;
    top:3rem;
    left:.5rem;
}
.svg {
	width: 400px;
	height: 400px;
	background: url(../images/icon.svg) ;
    background-size: 400px 400px; 
}


/* footer starts here */
footer{
    background-color: #444343;
}
.footer{
    display: flex;
    justify-content:space-around;
}
 .about{
    max-width: 20rem;
}

.copy{
    text-align: center;
}
.fa-twitter{
    color:#00acee;
    padding:1rem
}
.fa-twitter:hover{
    transform: scale(1.2);
}
.fa-instagram{
    color:#bc2a8d;
    padding:1rem
}
.fa-instagram:hover{
    transform: scale(1.2);
}
.fa-facebook{
    color:#3b5998 ;
}
.fa-facebook:hover{
    transform: scale(1.2);
}
.socials{
    margin: 2rem 0px;
    padding:0rem 1rem;
}
.links, .links-2{
    margin: 2rem 0px;
}
p,h4,h2{
    color: #fff;
}
.footer-Text{
    color: #fff;
}
/* footer ends here */
    /* media querries */

@media only screen and (max-width:1200px){
    .svg {
       display: none;
    }
    .main{
        justify-content: center;
        align-items: center;
    }
}


@media only screen and (max-width:768px){

    .svg{
        display: none;
    }
    .main{
        justify-content: center;
        align-items: center;
    }
    
}
@media only screen and (max-width:600px){

    .main{
        justify-content: center;
       align-items: center;
       }
       #name,#email,#password{
           width:20rem
       }
    /* footer */


    .footer{
        display: flex;
        flex-direction: column;
        margin:2rem;
    }
    .socials{
        margin: 2rem 0px;
        padding:0rem;
    }
    .links > *{
        border-bottom: 1px solid #fff;
        padding: .5rem;
    }
    .links-2 > *{
        border-bottom: 1px solid #fff;
        padding: .5rem;
    }
    .links,.links-2,.socials{
        margin-top: -.5rem;
    }
}   

@media only screen and (max-width:476px){
    .main{
        width: 20rem;
       }
    #name,#email,#password{
        width:17rem;
        font-size: 16px;
    }
}

@media only screen and (max-width:375px){
    .main{
        
        width: 20rem;
       }
    #name,#email,#password{
        width:15rem;
        font-size: 16px;
    }
}

