@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
}
body{
    box-sizing: inherit;
    background: #fff;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
*:focus {
	outline: none;
}
/* header */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 2px #aaa;
    height: 4rem;
}

.logo-container .logo {
    width: auto;
    height: 250px;
}

.main-nav ul {
    display: flex;
    margin: 0 40px;
}

.main-nav li {
    list-style: none;
    margin: 0 15px;
}

.main-nav a {
    text-decoration: none;
    color: #444343;
}

/*               Toggle icon               */
.menu-toggle {
    float: right;
    width: 25px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 6%;
    z-index: 99;
}

.bar {
    height: 4px;
    width: 100%;
    display: none;
    border-radius: 5px;
    background-color: #242323;
    transition: 0.3s ease;
    z-index: 99;
}

#bar1 {
    transform: translateY(-4px);
}
/* 
#bar2 {
    width: 17px;
} */

#bar3 {
    transform: translateY(4px);
}
/*  */
.main{
    margin: 5rem auto;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    border-radius: 2rem 0;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.fa{
    width:px;
}
#name{
    padding: .6rem 7rem .6rem 3rem;
    margin: .1rem 0;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 18px;
}
#email{
    padding: .6rem 7rem .6rem 3rem;
    margin: .1rem 0;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 18px;
}
#password{
    padding: .6rem 7rem .6rem 3rem;
    margin: .1rem 0;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 18px;
}
.btn{
    padding: .8rem;
    margin: 1rem 0;
    border-radius: 5px;
    width: 10rem;
    color:#fff;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid #0F59D2;
    background:#0F59D2;
}
.fa-user-o{
    position: relative;
    top:2.5rem;
    left:.5rem;

}
.fa-envelope-o{
    position: relative;
    top:2.5rem;
    left:.5rem; 
}
.fa-key{
    position: relative;
    top:2.5rem;
    left:.5rem;
}
.svg {
	width: 400px;
	height: 400px;
	background: url(../images/icon.svg) ;
    background-size: 400px 400px; 
}


/* footer starts here */
footer{
    background-color: #444343;
}
.footer{
    display: flex;
    justify-content:space-around;
}
 .about{
    max-width: 20rem;
}

.copy{
    text-align: center;
}
.fa-twitter{
    color:#00acee;
    padding:1rem
}
.fa-twitter:hover{
    transform: scale(1.2);
}
.fa-instagram{
    color:#bc2a8d;
    padding:1rem
}
.fa-instagram:hover{
    transform: scale(1.2);
}
.fa-facebook{
    color:#3b5998 ;
}
.fa-facebook:hover{
    transform: scale(1.2);
}
.socials{
    margin: 2rem 0px;
    padding:0rem 1rem;
}
.links, .links-2{
    margin: 2rem 0px;
}
p,h4,h2{
    color: #fff;
}

.copy p {
    margin-bottom: 0;
    padding-bottom: 30px;
}

footer hr {
    opacity: 0.2;
    width: 90%;
    margin-left: 5%;
}
.footer-Text{
    color: #fff;
}
/* footer ends here */
    

/* media querries */

@media only screen and (max-width:1200px){
    .svg {
       display: none;
    }
    .main{
        justify-content: center;
        align-items: center;
    }
}


@media only screen and (max-width:768px){

    .svg{
        display: none;
    }
    .main{
        justify-content: center;
        align-items: center;
    }
    
}
@media only screen and (max-width:600px){

    .main{
        justify-content: center;
       align-items: center;
       }
       #name,#email,#password{
           width:20rem
       }
    /* footer */


    .footer{
        display: flex;
        flex-direction: column;
        margin:2rem;
    }
    .socials{
        margin: 2rem 0px;
        padding:0rem;
    }
    .links > *{
        border-bottom: 1px solid #fff;
        padding: .5rem;
    }
    .links-2 > *{
        border-bottom: 1px solid #fff;
        padding: .5rem;
    }
    .links,.links-2,.socials{
        margin-top: -.5rem;
    }
}   

@media only screen and (max-width:476px){
    .main{
        width: 20rem;
       }
    #name,#email,#password{
        width:17rem;
        font-size: 16px;
    }
    .main-nav ul {
        position: absolute;
        width: 60%;
        height: 100vh;
        background: #0f59d2;
        top: 0%;
        left: -100%;
        transition: 1s;
        flex-direction: column;
        align-items: center; 
        z-index: 2;
        padding-left: 0;
        padding-top: 40px;
    }

    .main-nav ul.open {
        left: -15%;
    }

    .main-nav li {
        margin: 30px 0;
    }

    .main-nav a { 
        font-size: 120%;
        color: #f5ffff;
    }

    .bar {
        display: block;
    }

    .change #bar1 {
        transform: translateY(1px) rotateZ(-45deg);
    }

    .change #bar3 {
        transform: translateY(-7px) rotate(45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change {
        display: block;
    }

}

@media only screen and (max-width:375px){
    .main{
        
        width: 20rem;
       }
    #name,#email,#password{
        width:18rem;
        font-size: 16px;
    }
    .main-nav ul {
        width: 80%;
    }

    .main-nav ul.open {
        left: -20%;
    }
}

